@import "tailwindcss";

.ui-container .form-content {
    @apply backdrop-blur-[2px] rounded-2xl;
    background:
        linear-gradient(to left bottom,
            rgba(244, 186, 75, 0.25),
            rgba(248, 141, 90, 0.25),
            rgba(88, 69, 125, 0.25),
            rgba(54, 60, 108, 0.3),
            rgba(21, 50, 88, 0.4),
            rgba(17, 40, 69, 0.5),
            rgba(14, 30, 51, 0.5),
            rgba(11, 20, 33, 0.5),
            rgba(0, 6, 16, 0.5));
    mask-image:
        url('../assets/bottom_mask_320px_40px.svg'),
        url('../assets/bottom_mask_40px_40px.svg'),
        url('../assets/top_mask_500px_23px.svg'),
        linear-gradient(#000000 0 0);
    mask-position: bottom right, bottom left, top right;
    mask-size: auto;
    mask-repeat: no-repeat;
    mask-composite: exclude;
}

.ui-container .btn-primary {
    @apply w-80;
}

.ui-container .btn-secondary {
    @apply w-10 h-10;
}