@import "tailwindcss";

@font-face {
    font-family: 'Zatura';
    src: url('./assets/fonts/zatura/Zatura-Demo.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

:root {
    --accent-font: 'Zatura', cursive;
}

@theme {
    --color-primary: #0891b2;
    --color-secondary: #ea580c;
    --accent-font: 'Zatura', cursive;
}

@layer components {
    .btn {
        @apply min-w-32 rounded-xl px-3 py-1.5;

    }

    .btn-primary {
        @apply bg-primary hover:bg-primary/80;
    }

    .btn-secondary {
        @apply bg-secondary hover:bg-secondary/80;
    }
}

@layer utilities {
    .accent-text {
        font-family: 'Zatura', cursive;
    }

    .accent-heading {
        font-family: 'Zatura', cursive;
    }

    .container {
        @apply w-full px-4 md:px-8 lg:px-16;
    }
}

body {
    background:
        radial-gradient(circle at 20% 10%, rgba(48, 132, 127, 0.3) 0%, transparent 30%, transparent 100%),
        radial-gradient(circle at 60% 100%, rgba(234, 88, 12, 0.0) 0%, transparent 50%, transparent 100%),
        linear-gradient(to left bottom, #0886b1, #1b6d94, #1e5576, #1c3f5a, #162a3e, #122131, #0e1825, #060e19, #040c17, #030a15, #010813, #000610);
    /* linear-gradient(60deg, #00162A, #003B66, #111235); */
}

#root {
    @apply min-h-screen relative;
}