@import "tailwindcss";

@theme {
    --color-primary: #0891b2;
    --color-secondary: #ea580c;
}

@layer components {
    .btn {
        @apply rounded p-2;
    }

    .btn-primary {
        @apply bg-primary hover:bg-primary/80;
    }
}