@import "tailwindcss";

@layer components {
    .toast-container {
        @apply fixed right-0 top-4 w-[90vw] md:w-[50vw] lg:w-[30vw] flex flex-col p-3 gap-2;
    }

    .toast {
        @apply relative flex items-center justify-between gap-2 border border-gray-500/75 rounded-lg p-4 bg-white/80 shadow-lg;
    }

    .toast::before {
        content: '';
        @apply absolute left-0 top-0 bottom-0 w-[5px] rounded-l-lg;
    }

    .toast-button {
        @apply self-start;
    }
}