@import "tailwindcss";

@layer components {
    .toast-container {
        @apply fixed right-0 top-12 w-[90vw] md:w-[50vw] lg:w-[30vw] flex flex-col p-3 gap-2 z-50;
    }

    .toast {
        @apply relative flex items-center justify-between gap-2 border border-gray-400 rounded-lg p-4 bg-white/5 backdrop-blur hover:bg-white/10 shadow-lg;
    }

    .toast::before {
        content: '';
        @apply absolute left-0 top-0 bottom-0 w-1.25 rounded-l-lg;
    }

    .toast-button {
        @apply self-start;
    }
}