@import "tailwindcss";

.ui-container .form-content,
.ui-container .loading-view-content,
.ui-container .tree-view-content {
    @apply backdrop-blur-[2px] rounded-2xl;
    background:
        linear-gradient(to left bottom,
            rgba(244, 186, 75, 0.25),
            rgba(248, 141, 90, 0.25),
            rgba(88, 69, 125, 0.25),
            rgba(54, 60, 108, 0.3),
            rgba(21, 50, 88, 0.4),
            rgba(17, 40, 69, 0.5),
            rgba(14, 30, 51, 0.5),
            rgba(11, 20, 33, 0.5),
            rgba(0, 6, 16, 0.5));
}

.ui-container .form-content {
    mask-image:
        url('../masks/concept_form_bottom_mask_150px_28px.svg'),
        url('../masks/concept_form_bottom_mask_40px_36px.svg'),
        linear-gradient(#000000 0 0);
    mask-position: bottom right, bottom left, center;
    mask-size: auto;
    mask-repeat: no-repeat;
    mask-composite: exclude;
    mask-origin: border-box;
    mask-clip: border-box;
}

.ui-container .tree-view-content {
    mask-image:
        url('../masks/treeview_mid_mask_120px_28px.svg'),
        linear-gradient(#000000 0 0);
    mask-position: right 125px, center;
    mask-size: auto;
    mask-repeat: no-repeat;
    mask-composite: exclude;
    mask-origin: border-box;
    mask-clip: border-box;
}

@media screen and (min-width:768px) {
    .ui-container .form-content {
        mask-image:
            url('../masks/concept_form_bottom_mask_320px_32px.svg'),
            url('../masks/concept_form_bottom_mask_40px_36px.svg'),
            linear-gradient(#000000 0 0);
    }

    .ui-container .tree-view-content {
        mask-image:
            url('../masks/treeview_mid_mask_320px_32px.svg'),
            linear-gradient(#000000 0 0);
    }
}


@media screen and (min-width:1024px) {
    .ui-container .form-content {
        mask-image:
            url('../masks/concept_form_bottom_mask_320px_40px.svg'),
            url('../masks/concept_form_bottom_mask_40px_40px.svg'),
            linear-gradient(#000000 0 0);
    }

    .ui-container .tree-view-content {
        mask-image:
            url('../masks/treeview_mid_mask_320px_40px.svg'),
            linear-gradient(#000000 0 0);
        mask-position: right 125px, center;
    }
}